<meta charset="utf-8">

<title>{% if post.title %}{{ post.title }} | {{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

<meta name="author" content="{{ site.author }}">
<meta name="description" content="{{ site.description }}">

<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<!--
        <head>
                <meta charset="utf-8">
                <title>(Semi)-automatic dataset preparation with youtube-dl and YOLOv3</title>
                <meta name="description" content="Automatic image processing and labeling through ML pipelines.">
                <meta name="author" content="Andrea Ranieri (template by CartoDB)">
                <meta name="apple-mobile-web-app-capable" content="yes" />
                <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
                <meta property="og:title" content="(Semi)-automatic dataset preparation with youtube-dl and YOLOv3"/>
                <meta property="og:description" content="Automatic image processing and labeling through ML pipelines."/> 
                <meta property="og:type" content="Visualization"/>
-->
                <!-- meta property="og:url" content="http://rollingstones.vizzuality.com" / -->
                <!-- meta property="og:image" content="http://cartodb.s3.amazonaws.com/tumblr/posts/blogpostrolling.png"/ -->
                <link rel="stylesheet" href="css/reveal.css">
                <link rel="stylesheet" href="css/theme/default.css" id="theme">
                <link rel="stylesheet" href="fonts/fonts.css">
                <link rel="stylesheet" href="css/style.css">
                <link rel="stylesheet" href="css/cartodb.css" />
                <link id="favicon" rel="shortcut icon" href="favicon.ico" />
<!--
        </head>
-->









